.AboutContainer {
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #F2EEFF;
    justify-content: space-around;
    height: 70vh;
}

.aboutMeText {
    width: 50%;
}

.ImageContainer {
    width: 25%;
    padding-top: 0;
    margin-top: 0;
}

.image {
    border-radius: 30px;
}

.Text {
    font-size: 1.4em !important;
    color: #695E93;
}


/* Mobile version */
@media (max-width: 768px) {
    .AboutContainer {
        align-items: center;
        justify-content: center;
    }

    .aboutMeText {
        width: 100%;
        align-self: center;
        text-align: center;
    }

    .ImageContainer {
        display: none;
    }

    .Text {
        font-size: 1em !important;
    }
}