.ContainerSize {
    height: 20vh;
    width: 100%;
    background-color: #F2EEFF;

}

.ContainerColor {
    width: 100%;
    background-color: #F2EEFF;

}

.FooterContainer {
    background-color: #F2EEFF;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    border: 4px solid 000000;
}

.Hr {
    border: 4px solid 000000;
    margin-bottom: 16px;
}

.Icon {
    padding: 0.8em !important;
    color: #000;
    cursor: pointer;
}

.Icon:hover {
    color: #8155BA;
}

.FooterText {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #808285;
    background-color: #F2EEFF;
}

@media screen and (max-width: 768px) {
    .FooterText {
        justify-content: center;
        font-size: normal;
        text-align: center;
    }

}