@font-face {
  font-family: "MrEaves";
  src: url('./../assets/fonts/MrEavesXLModNarOT-Reg.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:MrEaves, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: FFFFFF;
  }

  body {
    color: #000000;
    background: #FFFFFF;
  }
}
