.HomeContainer {
    display: flex;
    justify-content: center;
    height: 79vh;
    padding-left: 1em;
    padding-top: 3.5em;
    background-image: url('/home-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.Left {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    max-width: 45.66667%;
    height: 85vh;
    margin-top: 2em;
}

.Title {
    font-size: 3.6em;
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: -1px;
    color: #272D4E;
}

.Subtitle {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 3PX;
    margin-top: 10px;
    color: #606060;
}



.Strong {
    font-weight: bold;
    padding-left: 0.4em;
    color: #272D4E;
}

.Hr {
    width: 2.8em ;
    border:2px solid #d7d0fe;
    margin-top: -2px;
    line-height: 0;
    margin-bottom: 1.8rem ;
}


.Button {
    background-color: #9C69E2;
    border-color: #9C69E2;
    color: white;
    padding: .8rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    border-radius:50rem !important
}

.Button:hover {
    background-color: #AE5DD7;
    border-color: #9C69E2;

}

.ImageContainer {
    padding: 0;
    margin: 0;
    margin-top: -5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    max-width: 45.66667%;
}


.MobileContainer {
    display: none;
}

@media (max-width: 769px) {
    .MobileContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .HomeContainer {
        height: 87vh;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .Left {
        max-width: 100%;
        height: 100%;
        margin-top: 0;
    }

    .Title {
        display: none;
    }

    .TitleMobile {
        font-size: 31px;
        text-align: center;
        font-weight: bold;
        line-height: 0;
        margin-bottom: 0.7em;
        letter-spacing: 1px;
        color: #000;
    }

    .Hr {
        display: none;
    }

    .HrMobile {
        width: 5em !important;
        border: 2px solid #63b6ff;
        fill: #63b6ff;
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    .ImageContainer {
        display: none;
    }

    .Subtitle {
        display: none;
    }

    .SubtitleMobile {
        display: block;
        font-size: 15px;
        font-weight: 100;
        letter-spacing: 3PX;
        margin-top: 1em;
        color: #000;
        text-align: center;
        overflow-wrap: break-word;
        margin-bottom: 1em;
        line-height: 2em;
        max-width: 80%;
    }

    .Left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 55vh;

    }

    .ButtonContainer {
        display: none;

    }

    .Button {
        padding: 10px 20px;
        font-size: 1em;
        text-align: center;
    }
}