.HomeContainer {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    padding-left: 1em;
    padding-top: 3.5em;
}

.Left {
    width: 50%;
    height: 85vh;
}

.Title {
    font-size: 4.6em;
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: -1px;
    color: rgb(46, 45, 45);
}

.Subtitle {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 3PX;
    margin-top: 10px;
    color: #606060;
}

.Hand {
    font-size: 2em;
}

.Strong {
    font-weight: bold;
    padding-left: 0.4em;
    color: rgb(46, 45, 45);
}

.Hr {
    width: 3em !important;
    border: 0.5px solid #000;
    margin-top: 0;
    margin-bottom: 2em;
}


.Button {
    background-color: #CA70E9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;
}

.Button:hover {
    background-color: #AE5DD7;
}

.ImageContainer {
    margin-top: -5%;
    max-width: 39%;
    /* padding: 5em; */
    padding-top: 0;
}

.MobileContainer {
    display: none;
}

@media (max-width: 769px) {
    .MobileContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .HomeContainer {
        align-content: center;
        align-items: center;
        justify-content: center;
        height: 60vh;
        padding: 0;
    }

    .Title {
        display: none;
    }

    .TitleMobile {
        font-size: 31px;
        text-align: center;
        margin-bottom: 0.5em;
        font-weight: bold;
        line-height: 0;
        margin-bottom: 0.7em;
        letter-spacing: 1px;
        color: #000;
    }

    .Hr {
        display: none;
    }

    .HrMobile {
        width: 5em !important;
        border: 2px solid #63b6ff;
        fill: #63b6ff;
        margin-top: 0;
        margin-bottom: 2em;
    }

    .ImageContainer {
        display: none;
    }

    .Subtitle {
        display: none;
    }

    .SubtitleMobile {
        display: block;
        font-size: 13px;
        font-weight: 100;
        letter-spacing: 3PX;
        margin-top: 2em;
        color: #000;
        text-align: center;
        overflow-wrap: break-word;
        margin-bottom: 1em;
        line-height: 2em;
        max-width: 80%;
    }

    .Left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 55vh;

    }

    .ButtonContainer {
        display: none;

    }

    .Button {
        padding: 10px 20px;
        font-size: 1em;
        text-align: center;

    }
}