.Bg {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 80vh;
  background-color: #fff;
  z-index: 9999;
}

.Title {
  font-size: 1.9em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 600;
  text-align: center;
}

.Title .letter {
  display: inline-block;
  line-height: 1em;
}


@media (max-width: 769px) {
  .Title {
    font-size: 1em;
  }
}