.Bg {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 80vh;
  background-color: #fff;
  z-index: 9999;
}



.ml13 {
  font-size: 1.9em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 600;
  text-align: center;
}

.ml13 .letter {
  display: inline-block;
  line-height: 1em;
}