.stickyNav {
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.SvgContainer {
    display: flex;
    align-content: center;
    margin-left: 2em;
}

.navItem {
    color: #AE5DD7;
    font-size: 1.3em;
    text-align: center;
    padding-left: 1em !important;

}

.navItem:hover {
    color: #CDB4DB;
}

@media (max-width: 769px) {
    .stickyNav {
        background-color: #ffffff !important;
    }
}