.stickyNav {
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: #ffffff ;
}

.navItem {
    color: #AE5DD7;
    font-size: 1.3em;
    text-align: center;
    padding-left: 1em!important;

}

.navItem:hover {
    color: #CDB4DB;
}