.Bg {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Card {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    cursor: pointer;
}

.Image {
    padding: 2em;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.roundedButton {
    align-items: center;
    background-color: #EFF0F6;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 1em;
    width: 2.2em;
    height: 2.2em;
}

.Title {
    color: #212529;
    cursor: pointer;
    margin-top: 1em;
}

.Subtitle {
    font-size: 1em;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;

}

.Link {
    text-decoration: none !important;
}

@media (max-width: 768px) {

    .Bg {
        height: 55vh;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .Card {
        width: 8em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .Title {
        color: #212529;
    }

    .Subtitle {
        display: none;
    }

}