.Bg {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Item {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 0 !important;
}

.CardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Image {
    padding: 2em;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.Image:hover {
    transform: scale(1.009);
    transition: all .5s ease;
}

.roundedButton {
    align-items: center;
    background-color: #EFF0F6;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    margin-left: 0.2em;
    margin-right: 0.2em;
    width: 2.2em;
    height: 2.2em;
}

.Title {
    color: #212529;
    cursor: pointer;
    margin-top: 0.5em;
    font-size: 1.72em;
}

.Subtitle {
    font-size: 1em;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
    text-align: center;

}

.Link {
    text-decoration: none !important;
}

@media (max-width: 768px) {

    .Bg {
        height: 55vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2em;
        margin-top: 2em;
    }

    .Item {
        width: 8em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .imagen {
        width: 100%;
        height: 20vh;
        object-fit: cover;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff!important;
    }


    .Title {
        font-size: 20px;
        font-weight: 500;
        color: #353535;
        margin-top: 0.5em;
    }

    .Subtitle {
        font-size: 15px;
        font-weight: 500;
        color: #353535;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

}