.Container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.SkillsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
}

.Column {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 50vh;
  border-right: 2.5px solid #e6e6e6;
}

.Icon {
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  justify-content: center;
  width: 100%;
}

.Design {
  background-color: #ffebf4;
  color: #ffafcc;
  width: 4.4em;
  height: 4.4em;
  padding: 0.8em;
  border-radius: 10px;
}

.Frontend {
  background-color: #bde0fe;
  color: #51abff;
  width: 4.4em;
  height: 4.4em;
  padding: 0.8em;
  border-radius: 10px;
}

.Backend {
  background-color: #e6daed;
  color: #ce5fe8;
  width: 4.4em;
  height: 4.4em;
  padding: 0.8em;
  border-radius: 10px;
}

.Subtitle {
  font-size: 1.3em;
  font-weight: 400;
  color: #353535;
  margin-bottom: 0;
  letter-spacing: 1.3px;
  margin-top: 0.6em;
  margin-bottom: 0.15em;
}

.Text {
  font-size: 1.2em;
  padding: 0 !important;
  margin: 0 !important;
  padding-bottom: 0.5em;
  padding-right: 0.5em !important;
  font-weight: lighter;
  align-items: center;
  color: #777990;
  letter-spacing: 1.3px;
}