.cont {
  height: 75vh;
  display: block;
}

.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.CenterContent {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 0 ;
  padding: 0;
}

.Title {
  text-align: center;
}

.SkillsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.Column {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 50vh;
  border-right: 2.5px solid #e6e6e6;
}

.Icon {
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  justify-content: center;
  width: 100%;
}

.Design {
  background-color: #ffebf4;
  color: #ffafcc;
  width: 4.4em;
  height: 4.4em;
  padding: 0.8em;
  border-radius: 10px;
}

.Frontend {
  background-color: #bde0fe;
  color: #51abff;
  width: 4.4em;
  height: 4.4em;
  padding: 0.8em;
  border-radius: 10px;
}

.Backend {
  background-color: #e6daed;
  color: #ce5fe8;
  width: 4.4em;
  height: 4.4em;
  padding: 0.8em;
  border-radius: 10px;
}

.Subtitle {
  font-size: 1.3em;
  font-weight: 400;
  color: #353535;
  margin-bottom: 0;
  letter-spacing: 1.3px;
  margin-top: 0.6em;
  margin-bottom: 0.15em;
}

.Text {
  font-size: 1.2em;
  padding: 0 !important;
  margin: 0 !important;
  padding-bottom: 0.5em;
  padding-right: 0.5em !important;
  font-weight: lighter;
  align-items: center;
  color: #777990;
  letter-spacing: 1.3px;
}

@media (max-width: 769px) {
  .cont {
    height: 100vh;
    display: block;
  }

  .SkillsContainer {
    flex-wrap: wrap;
  }

  .Title {
    margin: 0;
    margin-top: 1em;
  }

  .Column {
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
  }

  .Text {

    padding-right: 0 !important;
    font-size: 16px;

  }
}

@media screen and (min-width: 769px) {
  .Container {
    height: 100%;
  }
}